*{
    padding: 0;
    margin: 0;
    font-family: 'Marvel', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth ; 
}

/* The Main Page Style*/
  .index-page-header{
    height: 100vh;
    display: flex;
    justify-content: center;
  }


  .main-header-content{
    margin: auto;
    text-align: center;
    letter-spacing: 7px;
  
  }

  .btn-styles {
      padding: 15px 45px;
      border: 1px solid white;
      border-radius: 30px;
      width: 200px;
      height: 60px;
      background-color: transparent;
      color: white;
      font-weight: bold;
      font-size: 25px;
      outline: none;
      cursor: pointer;
      text-decoration: none;
      margin: 0 5px;

  }


  .main-header-content h1 {
    color: white;
    margin-bottom: 50px;
    letter-spacing: 10px;
    font-size: 65px;

  }

  


/*End of the Main Page Style*/


/* start seller style */
.seller-navbar {
  padding: 30px 0 10px 90px;
  color: white;
}


.seller-navbar h3 {
  font-size: 35px;
  letter-spacing: 3px;
}
.seller-header__container {
    width: 80%;
    margin: 15px auto;
    display: flex;
}
.search-input {
  width: 40%;
}



.seller-header {
    display: flex;
    justify-content: space-between;
    
}

.seller-header .seller-add{
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;

} 

.seller-header .search{
  width: 100%;
    border-radius: 6px;
    font-size: 20px;
    background-color: #b92e2e00;
    border: 0.5px solid #f1eded;
    height: 50px;
    padding-left: 25px;
    color: white;
}

.seller-header_button {
  font-weight: bold;
  margin-left: 25px;
  padding: 8px;
  background-color: transparent;
  color: white;
  border: 0.5px solid #f1eded;
  border-radius: 6px;
  font-size: 20px;
}

.fa-plus {
  color: #CB9400;
}

/* /////////////////////////////////////////////////////////// */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Start seller add form styling */
  .seller-header .modal .modal-content {
      background-color: #DDD;
  }

  .seller-header .modal .modal-content .seller-add-form {
      display: flex;
      flex-wrap: wrap;
  }
  .seller-header .modal .modal-content .seller-add-form label{
      display: block;
      margin-top: 10px;
  }
  .seller-header .modal .modal-content .seller-add-form .content{
      width: 40%;
  }
  .seller-header .modal .modal-content .seller-add-form .content input{
      width: 300px;
  }
  .seller-header .modal .modal-content .seller-add-form .submit-button{
      width: 100%;
      margin-top: 10px;
  }

  .details {
    padding: 8px 8px 8px 12px;
  }


  /* The Buyer Page Style */

  .buyer-page-header {
    display: flex;
    flex-wrap: wrap;
  }

  
  .buyer-page-header__nav {
    width: 100%;
    display: flex;
    margin: 30px 20px 30px;
  }

  .logo {
    width: 80%;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding-left: 70px;
    font-size: 35px;
    letter-spacing: 3px;
  }

  .cart-button{
    width: 20%;
      color: white;
      float:right;
  }
  .cart {
    font-size: 25px;
    background-color: #CB9400;
    padding: 8px;
  }


  .search {
    width: 100%;
    border-radius: 6px;
    font-size: 20px;
    background-color: #b92e2e00;
    border: 0.5px solid #f1eded;
    height: 50px;
    padding-left: 25px;
    color: white;
  }
  .searchBox {
    display: flex;
    width: 80%;
    margin: 15px auto;
  }
    
  .buyer-search {
    width: 40%;
  }

  .selectButton{
    font-weight: bold;
    margin-left: 25px;
    padding: 8px;
    background-color: transparent;
    color: #CB9400;
    border: 0.5px solid #f1eded;
    border-radius: 6px;
    font-size: 20px;
    height: 100%;
  }


  .grid-button{
    font-weight: bold;
    margin-left: 25px;
    padding: 8px 18px;
    background-color: transparent;
    color: white;
    border: 0.5px solid #f1eded;
    border-radius: 6px;
    font-size: 20px;
    height: 100%;

  }
  
  

  
  /* End of Buyer Page */


  /* style the product */

  body {
    background-color: #242424;
  }
.seller-product {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px auto;
  justify-content: left;
}

.seller-product__container-products div {
  width: 100%;
  margin: 8px auto;
  text-align: center
}
.seller-product__container-products div span {
  display: inline-block;
  color: rgb(203, 148, 0);
  font-weight: bold;
  border: 1px solid;
  padding: 5px;
  margin: 0 auto;
  width: 110px;
  text-align: center;
}


.seller-product__container-products {
  width: 22%;
  background-color: #202020;
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 15px;
}
.edit-button {
  margin-top: 10px;
}
.seller-product__container-products img {
  width: 100%;
  padding: 6%;
  border-radius: 15px;
}
.seller-product__container-products h4 {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: white;
}

.seller-product__container-products h3 {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #CB9400;
}
.seller-product__container-products h2 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
}
.seller-product__container-products p {
  width: 100%;
  text-align: center;
  color: white;
  padding: 5px 11%;
  text-align: center;
  
}

@media only screen and (max-width: 1000px) {
  .seller-product__container-products {
    width: 30%;
    margin-bottom: 25px;
    background-color: #202020;
  }
}

@media only screen and (max-width: 700px) {
  .seller-product__container-products {
    width: 45%;
    margin-bottom: 25px;
    background-color: #202020;
  }
}

@media only screen and (max-width: 500px) {
  .seller-product__container-products {
    width: 100%;
    margin-bottom: 25px;
    background-color: #202020;
  }
}
  


@media only screen and (max-width: 600px) {
  .main-header-content {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
  }
  .main-header-content h1{
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-size: 40px;
  width: 100%;
  }
  .btn-styles {
    width: 60%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .seller-navbar{
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
  }
}

@media only screen and (max-width: 600px) {
  .seller-header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-input {
    width: 100%;
    margin-bottom: 35px;
  }
  .seller-header_button {
    width: 50%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .searchBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buyer-search{
    width: 100%;
    margin-bottom: 25px;
    
  }
  .selectButton{
    margin-left: 0;
    width: 120px;
  }
  .sellect-category{
    flex: 1;
    text-align: center;
    
  }
  .grid-button {
    margin-left: 0;
    width: 120px;
  }
  .grid-button-div {
    flex: 1;
    text-align: center;
  }
  .logo{
    width: 83%;
  }
  .cart-button{
    width: 17%;
  }


}